.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	max-width: 600px;
	margin: 1.5em auto;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

body.markdown-body {
	margin-left: auto;
	margin-right: auto;
}

.side-by-side {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.side-by-side img {
  max-width: 150px;
  height: auto;
}

.flex-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
