.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	max-width: 600px;
	margin: 1.5em auto;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

body.markdown-body {
	margin-left: auto;
	margin-right: auto;
}




@media (prefers-color-scheme: light) {

    html{
        background: white;
    }

}


@media (prefers-color-scheme: dark) {

    html{
        background: #0d1117;
    }

}
