/* copy over css from work if possible - for now just using a random tables css*/

/* Default styled table */
.styled-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-family: sans-serif;
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.styled-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}




/* Re-writing the dc-mon table css going need to understand the intention of these rules*/
:root{
  --dc-default-blue: #64A0EA;
}

.dc-table {
  border: 2px solid var(--dc-default-blue);
  box-sizing: border-box;
  border-radius: calc(.3vw + .3vh);
  height: 100%;
  max-height: 100%;
  border-spacing: 0;
  width: 100%;
}

table.dc-table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  display: block;
}

.dc-table thead {
  display: block;  
  height: 16px;
}

.dc-table thead tr{
  width: 100%;
  display: flex;
  border: 0px;
}

.dc-table thead tr th {
  color: white;
  font-size: calc(7px + 0.3vw + 0.2vh);
  text-align: center;
  border-color: var(--dc-default-blue);
  background: var(--dc-default-blue);
  width: 100%;
  padding: 0px;
}

.dc-table div {
  overflow-y: auto;
  height: calc(100% - 16px);
}


.dc-table tbody {
  font-size: calc(7px + 0.3vw + 0.2vh);
  height: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.dc-table tbody tr td {
  text-align: center;
  padding: 0px;
}

.dc-table tbody tr:nth-child(even){
  background-color: #64a0ea2b;
}

.dc-table div::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.dc-table div::-webkit-scrollbar-track {
  background: #64A0EA;   
}

.dc-table div::-webkit-scrollbar-thumb {
  background: #01145ab2;
  border-radius: 5vh;
  width: 3px;
}
