/* copy over css from work if possible - for now just using a random tables css*/

/* Default styled table */
.styled-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-family: sans-serif;
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.styled-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}


:root{
  --dc-default-blue: #64A0EA;
}

/* Re-writing the dc-mon table css going need to understand the intention of these rules*/
.dc-table {
  border: 2px solid var(--dc-default-blue);
  box-sizing: border-box;
  border-radius: calc(.3vw + .3vh);
  height: 100%;
  border-spacing: 0;
}

.dc-table thead tr{
  background: var(--dc-default-blue);
  height: 16px;
}

.dc-table thead tr th {
  color: white;
  font-size: calc(7px + 0.3vw + 0.2vh);
  text-align: center;
  border-color: var(--dc-default-blue);
}

.dc-table tbody {
  font-size: calc(7px + 0.3vw + 0.2vh);
}

.dc-table tbody tr:nth-child(even){
  background-color: #64a0ea2b;
}


/* 
.dcmTableRows::-webkit-scrollbar {
  width: 3px;
}

.dcmTableRows::-webkit-scrollbar-track {
background: #64A0EA;   
}

.dcmTableRows::-webkit-scrollbar-thumb {
background: #01145ab2;
border-radius: 5vh;
width: 3px;
}*/
