<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/github-markdown.css?v=5' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/rouge.css?v=6' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/maxdurbin.css?v=6' | relative_url }}">
  <style>
    body {
      max-width: 800px;
      margin: 2rem auto;
      padding: 0 1rem;
    }
  </style>
</head>
<body class="markdown-body">
  {{ content }}
</body>
</html>

